RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.css$
RewriteCond %{REQUEST_FILENAME} !\.js$
RewriteCond %{REQUEST_FILENAME} !\.jpg$
RewriteCond %{REQUEST_FILENAME} !\.gif$
RewriteCond %{REQUEST_FILENAME} !\.png$

RewriteRule ^service/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/:(.+)?$ index.php?controller=$1&method=$2&ident=$3&options=$4&service=1 [QSA,L]
RewriteRule ^service/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=$2&ident=$3&service=1 [QSA,L]
RewriteRule ^service/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/:(.+)/?$ index.php?controller=$1&method=$2&options=$3&service=1 [QSA,L]
RewriteRule ^service/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=$2&service=1 [QSA,L]
RewriteRule ^service/([0-9a-zA-Z]+)/:(.+)/?$ index.php?options=$1&service=1 [QSA,L]
RewriteRule ^service/([0-9a-zA-Z]+)/?$ index.php?controller=$1&service=1 [QSA,L]

RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/:(.+)?$ index.php?controller=$1&method=$2&ident=$3&options=$4 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/:([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=$2&options=$3 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=$2&ident=$3 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/:(.+)?$ index.php?controller=$1&method=$2&options=$3 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=$2 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/:(.+)?$ index.php?controller=$1&options=$2 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/?$ index.php?controller=$1&method=index [QSA,L]

ErrorDocument 403 /adminns/home/index
ErrorDocument 404 /adminns/home/index