.navbar-brand {
    height: 56px;
    width:70px;
    text-indent:-999em;
    overflow:hidden;
}
header nav {
    color: #f00;
}
header .container ul.nav {
    padding:3px;
}
.navbar {
    margin-bottom:0px;
    background:#f8f8f8;
}
#content {
    background: linear-gradient(to bottom, #f0f0f0 0px, #f8f8f8 3px) repeat scroll 0 0;
    color:#999;
    padding:1px 20px 11px 20px;
    min-height:535px;
}
#content section {
    color:#333;
}
footer {
    text-align:center;
    display:block;
    border-top: 2px solid #82b5f8;
    padding:10px 20px;
    color: #999;
}
span.logado {
    display:block;
    padding: 17px 10px 0;
    position:absolute;
    width:350px;
    text-align: right;
    right:5px;
    top:40px;
}
.logado small {
    color: #666;
}
.bg-primary,.bg-success,.bg-info,.bg-warning,.bg-danger {
    display:block;
    border-radius:3px;
    margin:10px 0;
    padding:5px 10px;
}
.bg-danger {
    color:#b74d4d;
}
.bg-success {
    color: #41722c;
}
.container {
    width:auto;
}
.nav > li > a {
    border-radius:3px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
}
.btn-modules {
    width:100%;
}
@media screen and (max-width : 480px) {
    .mobile-min {
        display:none;
    }
}
@media screen and (max-width : 600px) {
    .mobile-half {
        display:none;
    }
}
@media screen and (max-width : 767px) {
    .navbar-toggle {
        background:#f8f8f8;
        border: 1px solid #ddd;
    }
    .icon-bar,.navbar-collapse {
        background: #578FBE;
    }
    .navbar-collapse {
        margin:5px;
        border-radius:3px;
    }
    .navbar-collapse a {
        color:#fff;
    }
    .navbar-collapse a:hover {
        color:#578FBE;
    }
    .collapse {
        display:none;
    }
    #top .container nav {
        position:absolute;
        width:100%;
        top:53px;
    }
    .mobile {
        display:none;
    }
}
h1.half {
    width:50%;
}
.align-right {
    float:right;
}